* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: '- ';
  text-decoration: none;
  font-family: 'Cabin', sans-serif;
}

header {
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(221, 221, 21);
  height: 12rem;
}

body {
  background-color: rgb(24, 20, 20);
}

button {
  border-radius: 0.4rem;
  width: 7rem;
  height: 3rem;
  background-color: rgb(243, 119, 17);
  border: none;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(240, 182, 135);
  cursor: pointer;
}

ul {
  padding-left: 2.4rem;
}

li {
  color: #ffffff;
  margin-bottom: 3rem;
}

.HeaderTexts {
  display: flex;
  justify-content: center;
}

.HeaderTittle {
  align-items: center;
}

.Description {
  display: flex;
  text-align: center;
  font-size: 1.5rem;
  color: #252020;
  width: 30rem;
}

.ButtonDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
}

.List {
  margin-top: 2rem;
}

.Container {
  padding-left: 5rem;
  width: 100%;
}

.ListWrapper h2 {
  width: 80%;
  margin: 0 auto;
  color: #fefefe;
  text-align: center;
  font-size: 1.4rem;
}

.ListWrapper h3 {
  margin-bottom: 0.8rem;
  color: #eeeeee;
}
